postPerson.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <complexType name="person">
                <element name="firstName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </complexType>
        </schema>
    </types>
    <message name="postPersonRequest">
        <part name="person" element="xs:string"/>
    </message>
    <message name="postPersonResponse">
        <part name="person" element="xs:string"/>
    </message>
    <portType name="postPersonPortType">
        <operation name="postPerson">
            <input message="postPersonRequest"/>
            <output message="postPersonResponse"/>
        </operation>
    </portType>
    <binding name="b1" type="postPersonPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="postPerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="postPersonService">
        <port name="postPersonPortType" binding="b1">
            <soap:address location="http://localhost/wsdl"/>
        </port>
    </service>
</definitions>
