service.wsdl

<definitions
        name="let you post/retrieve online message by SOAP protocol"
        xmlns:tns="service.wsdl"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="service.wsdl">
    <!--  definition of datatypes  -->
    <types>
        <schema xmlns="http://www.w3.org/2000/10/XMLSchema" targetNamespace="service.xsd">
            <element name="firstname">
                <complexType>
                    <all>
                        <element name="value" type="xsd:string"/>
                    </all>
                </complexType>
            </element>
            <element name="surname">
                <complexType>
                    <all>
                        <element name="value" type="xsd:string"/>
                    </all>
                </complexType>
            </element>
            <element name="key">
                <complexType>
                    <all>
                        <element name="value" type="xsd:string"/>
                    </all>
                </complexType>
            </element>
        </schema>
    </types>
    <!--  request messages  -->
    <message name="postPerson">
        <part name="firstname" type="xsd:firstname"/>
    </message>
    <!--  response messages  -->
    <message name="returns_key">
        <part name="key" type="xsd:key"/>
    </message>
    <!--  server's services  -->
    <portType name="PostPerson">
        <operation name="postPerson">
            <input message="tns:postPerson"/>
            <output message="tns:returns_key"/>
        </operation>
    </portType>
    <!--  server encoding  -->
    <binding name="PostPersonBind" type="tns:PostPerson">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="postPerson">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#postPerson"/>
            <input>
                <soap:body
                        use="encoded"
                        namespace="urn:xmethods-delayed-quotes"
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                />
            </input>
            <output>
                <soap:body
                        use="encoded"
                        namespace="urn:xmethods-delayed-quotes"
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                />
            </output>
        </operation>
    </binding>
    <!--  access to service provider  -->
    <service name="PostPersonService">
        <port name="PostPersonService_0" binding="PostPersonBind">
            <soap:address location="http://127.0.0.1./wsdl"/>
        </port>
    </service>
</definitions>
